#model {
  width: fit-content;
  margin: auto;
}
#payMHead {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  font-size: 36px;
  font-weight: 500;
}
#payMHead button {
  width: auto;
  font: 100;
  font-size: 16px;
  padding: 15px;
  border: none;
  color:#e4002b;
  text-decoration: underline;
}
.centerdiv {
  height: 500px;
  width: 500px;
  padding: 20px;
  background-color: #f8f7f5;
}

.paymentOption {
  padding: 25px 30px;
  background-color: white;
  margin-top: 20px;
  border: solid gray 1px;
}

#payMbtn1{
  display: flex;
  justify-content: space-between;
  background-color: #e4002b;
  color: white;
  cursor: pointer;
  padding: 5px 50px;
  border-radius: 20px;
}
#payMbtn2{
  display: flex;
  justify-content: space-between;
  background-color: #f0c8d0;
  color: white;
  cursor: not-allowed;
  padding: 5px 50px;
  border-radius: 20px;
}

#paybtndiv {
  width: fit-content;
  margin: auto;
  padding: 20px;
}
