.popup {
    position: relative;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 99;
    display: block;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
    animation: dropdown 0.5s ease-in-out forwards;
}

.popup.hidden {
    animation: dropup 0.5s ease-in-out forwards;
}

.popup_inner {
    position: relative;
    padding: 20px;
    width: 100%;
    max-width: 640px;
    background-color: white;
    z-index: 100;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    margin: 0 auto;
}

/* Dropdown animation */
@keyframes dropdown {
    from {
        transform: translateY(-100%);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

/* Dropup (exit) animation */
@keyframes dropup {
    from {
        transform: translateY(0);
        opacity: 1;
    }
    to {
        transform: translateY(-100%);
        opacity: 0;
    }
}

/* Push the content below */
.content {
    margin-top: 20px;
}
