.headdiv {
  margin: auto 15%;
}
#heading {
  display: flex;
  width: 50%;
  justify-content: space-between;
}
#heading div {
  margin-top: 35px;
}

#Cmain {
  display: flex;
  justify-content: space-between;
  margin: auto 15%;
}

.Cleft {
  /* border: solid black 1px; */
  /* height: 200px; */

  width: 60%;
  
}
.Cleft > div {
  background-color: #f8f7f5;
  padding:10px;
  margin-top: 20px;

}
.Cright {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  height: fit-content;
  width: 33%;
  margin-top: 20px;
  padding: 20px;
}
.Cright div{
  margin-top: 15px;
  margin-bottom: 15px;
}
.pickupdiv {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.pickupdiv > div:first-child {
  width: 150px;
  margin-left: 75px;
  border-bottom: 1px solid black;
}
.pickupdiv > div:last-child {
  display: flex;
  /* border: solid red 1px; */
  justify-content: space-between;
  width: 300px;
  margin-top: 20px;
}
#store {
  width: 80%;

  /* border: solid red 1px; */
}
#store p {
  display: inline-block;
  font-size: 12px;
}
#store span {
  font-weight: bold;
}
.pickupopt {
  display: flex;
}
.pickupopt > div:first-child {
  width: 150px;
  margin-left: 75px;
}

.contactinfo {
  display: flex;
  flex-direction: column;
}
.contactinfo > div:first-child {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.inp {
  border: none;
  border-bottom: solid gray 2px;
  outline: none;
  margin-top: 20px;
  width: 98%;
  font-size: 18px;
}

.paymentdiv {
  display: flex;
}
.paymentdiv > div:first-child {
  width: 150px;
  margin-left: 75px;
  margin-right: 20px;
}
.paymentdiv > div:last-child {
  cursor: pointer;
}

.priceLine {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.priceLine2{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 5px;
  margin: 0;
}

#paybtn1 {
  display: flex;
  justify-content: space-between;
  background-color: #e4002b;
  color: white;
  cursor: pointer;
  padding: 5px 50px;
  border-radius: 20px;
}
#paybtn2 {
  display: flex;
  justify-content: space-between;
  background-color: #f0c8d0;
  color: white;
  cursor: not-allowed;
  padding: 5px 50px;
  border-radius: 20px;
}
#paybtn p {
  margin: 0px;
}

.addpM {
  text-decoration: underline;

}
#cartdiv1 {
  /* border:solid red 1px; */
  display: flex;
  margin: auto 10%;
  background-color: #f8f7f5;
  height: 600px;
}
#cartdiv11 {
  /* border: solid black 1px; */
  padding-left: 10%;
  padding-top: 100px;
  width: 50%;
}
#cartdiv11 h1 {
  width: 70%;
  font-size: 50px;
  font-weight: bold;
  font-family: National 2 condensed;
  margin-bottom: 25px;
}